<ion-content class="ion-padding">

  <ion-row style="display: flex; align-items: center; margin-top: 2rem;">
    <ion-col size="12">
      <ion-title>Choose Account to Create</ion-title>
    </ion-col>
    <ion-col size="12">
      <ion-button expand="block" size="large" routerLink="/login/signup">Customer</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button expand="block" size="large" routerLink="/login/admin-auth">Organizer</ion-button>
    </ion-col>
  </ion-row>

  <!-- <div class="ion-margin-bottom">
    Choose below to create an account
  </div>

  <ion-list lines="none">
    <div class="ion-margin-bottom">
      <ion-item>
        <ion-button>Customer</ion-button>
      </ion-item>
    </div>

    OR

    <div class="ion-margin-bottom">
      <ion-item>
        <ion-button>Organizer</ion-button>
      </ion-item>
    </div>
  </ion-list> -->

</ion-content>