<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar animated="true" debounce="800" #searchInput (ionChange)="onSearchChange($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-loading-event *ngIf="isLoading"></app-loading-event>

  <app-empty-screen *ngIf="!isLoading && (events?.length === 0 || query?.length === 0)" [model]="model">
  </app-empty-screen>

  <ion-list *ngIf="!isLoading && events.length > 0">
    <ion-list-header>
      <ion-label>
        <h4>Search results for "{{ query }}"</h4>
      </ion-label>
    </ion-list-header>
    <app-event *ngFor="let event of events" [event]="event" [routerLink]="['/', 'tabs', 'events', event.uid]">
    </app-event>
  </ion-list>

</ion-content>