ion-row {
  ion-row {
    img {
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }
  }

  ion-col {
    ion-label {
      ion-text {
        p {
          color: crimson;
        }
      }
    }
  }
}
