<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-back-button defaultHref="/tabs/account"></ion-back-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <form>
      <ion-item>
        <ion-input type="text" name="firstname" placeholder="Firstname" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" name="lastname" placeholder="Lastname" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="tel" name="phone" placeholder="Phone" minlength="10" maxlength="10" required>
        </ion-input>
      </ion-item>
    </form>
  </ion-list>

  <ion-button expand="block" shape="round" type="submit">
    Update
  </ion-button>

</ion-content>