ion-toolbar {
  --background: #dc143c;
  color: #ffffff;
}

ion-item {
  ion-icon {
    color: #dc143c;
  }
}

ion-button {
  --border-radius: 10px;
  width: 100%;
  height: 50px;
  --background: #dc143c;
}

// ion-button {
//   --background: #dc143c;
//   color: #fff;
// }
